bin/
.bundle/
config/
fixedUpdates/
gems/
logs/
node_modules/
old/
test/cookies
tools/cache*
tmp/
.DS_Store
*.log
*.old
*.out
*.pid
*.sql_log
failedUpdates/
holidayUpdates/
outdatedFailedUpdates/
vendor/
local-testing
test/
